@page "/Checkout/delete"
@inject NavigationManager navigationManager
@inherits ShoppingCartBase


<h3>ShoppingCartDelete</h3>

@* @code { *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*        navigationManager.NavigateTo("/manage/orders"); *@
@*     } *@
@* } *@