@inherits LayoutComponentBase

<MudThemeProvider />


<div class="mud-theme-primary pa-8 d-flex align-center justify-center rounded-medium" style="height:100vh">
    <MudContainer MaxWidth="MaxWidth.Small" Class="">
        <MudPaper Elevation="1" Class="py-8 px-10">
            @Body
        </MudPaper>
    </MudContainer>
</div>
